<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index || page</title>
</head>

<body>
    <!-- <%- include("header")%> -->
    <!-- <h1>this <%= user.name %></h1>
    <h1>this <%= user.email %></h1>
    <h1>this <%= user.city %></h1>
    <ul>
       <% user.skills.forEach((item)=>{%>
        <li><%= item%></li>
        <%})%> -->
    <% user.skills.forEach((item)=>{%>
        <li><%= item%></li>
        <%})%>
        </ul>Ì
    </body>

</html>